@import "tailwindcss";

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Run this command to scan files to update and create output css
https://fonts.google.com/specimen/Bai+Jamjuree */

body{
    font-family:  "Bai Jamjuree", sans-serif;
}

h1, h3, h2{
   font-weight: 600; 
   color: #4C545D;
}

h2{
    font-size: 28px;
    
}

h3{
    font-size: 20px;
}

p{
    font-weight: 400;
    color: #9FABB2;
}
